*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
	
   background-image:url('5.jpg'); 
   background-color:#179b77;

}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background:#E9EAEC;
   opacity:1;
 filter: alpha(opacity=50);
  padding: 40px;
  max-width: 70%;
  margin: 40px auto;
  margin-top:00px;
  border-radius: 9px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.admin {
  background:black;
   opacity: 0.7;
 filter: alpha(opacity=50);
  padding: 40px;
  max-width: 650px;
  margin: 40px auto;
  margin-top:-120px;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  margin-top:70px;
}



.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #1b61c5;
  color: white;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
label .req {
  margin: 2px;
  color: #1ab188;
}

label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input, textarea {
  font-size: 20px;
  display: block;
  width: 100%;
  height: 6%;
  padding: 4px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}
.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.top-row > div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1b61c5;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.button:hover, .button:focus {
  background: blue;
}

.button-block {
  display: block;
  width: 100%;
}


#content
{
	margin-left: 15%;
	margin-right:15%;
    
}

#delete
{
	margin-left:83%;
	margin-top:-2%;
	margin-bottom:1%;
}

#divider
{
	margin-left:-40px;
}

#bcategory
{
	margin-top:0px;
font-size: 20px;
  display: block;
  width: 32%;
  height: 5%;
  background-color:white;
  margin-left:-235px;
}

#btitle
{
	margin-top:-32px;
	margin-left:35%;
font-size: 20px;
  display: block;
  width: 34%;
  height: 5%;
   background-color:white;
}

#content1
{   background-color:white;
margin-top:0px;
	height:30%;
	width:64%;
	margin-left:5%;
}

#file
{
	 
	margin-top:-37px;
	width:550px;
	margin-left:5%;
	
}
#up
{
	background-color:#2150B0;
	width:64%;
	margin-left:5%;
	margin-top: -0.5px;
}